  
      {{#if explore}}
      <div class="explore__title">
        <h3>GET A TASTE</h3>
      </div>
      <div class="explore__img-container">
      {{#each imgs}}
        {{> exploreImg}}
      {{/each}}
      </div>
      {{else}}
        <p>No Picture found for the chosen destination</p>
      {{/if}}
    

  




