<footer class="footer">
  <section class="footer__copyright">
    <p>
      Copyright &copy; 2020,
      <span>Travel blog</span>, All Right Reserve
    </p>
  </section>

  <section class="footer__social">
    <ul class="social__list">
      <li>
        <a href="https://github.com/clemoni" target="_blank"><i
            class="fab fa-github fa-lg"
          ></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/cliscoet/" target="_blank"><i
            class="fab fa-linkedin-in fa-lg"
          ></i></a>
      </li>
      <li>
        <a href="https://pixabay.com/" target="_blank"><img
            src="https://pixabay.com/static/img/logo_square.png"
            alt="pixabay"
          /></a>
      </li>

    </ul>
  </section>
</footer>