<aside class="get-info">
  <form class="form get-info__form">
    <div class="_message"></div>
    <div class="form__group get-info__city">
      <label for="city" class="form__label">Where are you going ?</label>
      <input
        type="text"
        class="form__input"
        id="city"
        name="city"
        placeholder="Enter city here"
      />
    </div>
    <div class="form__group get-info_date">
      <label for="date-trip" class="form__label">When are you leaving ?</label>
      <input
        type="date"
        class="form__input"
        id="date-trip"
        name="date-trip"
        placeholder="Chose a date here"
      />
    </div>
    <button class="btn form__submit get-info__submit" type="submit">
      Go
    </button>
  </form>
</aside>