<aside class="get-info" id="getInfo">
  <form class="form get-info__form">
    <div class="_message"></div>
    <div class="form__group get-info__city">
      <label for="travel-city" class="form__label">Where are you going ?</label>
      <input
        type="text"
        class="form__input"
        id="travel-city"
        name="travel-city"
        placeholder="Enter city here"
        {{! value="London" }}
        {{! need to be removed later }}
      />
    </div>
    <div class="form__group get-info__date">
      <label for="travel-date" class="form__label">When are you leaving ?</label>
      <input
        type="date"
        class="form__input"
        id="travel-date"
        name="travel-date"
        placeholder="Chose a date here"
      />
    </div>
    <button class="btn form__submit get-info__submit" type="submit">
      Go
    </button>
    <div class="clarify-city"></div>
  </form>
</aside>