<section class="info-forecast">
  <table class="forecast">
    <tr class="forecast__content">
      <td class="forecast__day">Monday</td>
      <td class="forecast__date">26/05/21</td>
      <td class="forecast__icon">
        <img
          src="https://www.weatherbit.io/static/img/icons/r04d.png"
          alt="weather icon"
        />
      </td>
      <td class="forecast__desc">Thunderstorm with drizzle</td>
      <td class="forecast__temp">13°</td>
    </tr>
    <tr class="forecast__content">
      <td class="forecast__day">Monday</td>
      <td class="forecast__date">26/05/21</td>
      <td class="forecast__icon">
        <img
          src="https://www.weatherbit.io/static/img/icons/r04d.png"
          alt="weather icon"
        />
      </td>
      <td class="forecast__desc">Heavy Rain</td>
      <td class="forecast__temp">13°</td>
    </tr>
    <tr class="forecast__content">
      <td class="forecast__day">Monday</td>
      <td class="forecast__date">26/05/21</td>
      <td class="forecast__icon">
        <img
          src="https://www.weatherbit.io/static/img/icons/r04d.png"
          alt="weather icon"
        />
      </td>
      <td class="forecast__desc">Heavy Rain</td>
      <td class="forecast__temp">13°</td>
    </tr>
    <tr class="forecast__content">
      <td class="forecast__day">Monday</td>
      <td class="forecast__date">26/05/21</td>
      <td class="forecast__icon">
        <img
          src="https://www.weatherbit.io/static/img/icons/r04d.png"
          alt="weather icon"
        />
      </td>
      <td class="forecast__desc">Heavy Rain</td>
      <td class="forecast__temp">13°</td>
    </tr>
    <tr class="forecast__content">
      <td class="forecast__day">Monday</td>
      <td class="forecast__date">26/05/21</td>
      <td class="forecast__icon">
        <img
          src="https://www.weatherbit.io/static/img/icons/r04d.png"
          alt="weather icon"
        />
      </td>
      <td class="forecast__desc">Heavy Rain</td>
      <td class="forecast__temp">13°</td>
    </tr>
  </table>
</section>