<header class="showcase">
  <h2 class="showcase__title">
    <span>Where </span><span>your dreams</span><span>will </span><span>lead you</span>
    <span>?</span>
  </h2>
  <button class="showcase__btn btn">GO</button>
</header>