.form{

    &__group{
        display: flex;
        flex-direction: column;
        margin:1rem 0;
    }
    &__label{
        font-size: 1.2rem;
        font-weight: 900;

    }
    &__input{
        width: 90%;
        font-weight: 200;
        padding: 0.5rem;
        font-size: 1rem;
        border:none;
        border-radius: .2rem;
    }
    // &__submit{

    // }
}