.get-info{
    height: 100vh;
    width: 100vw;
    // overflow:hidden;
    background: linear-gradient($linear-dark, $linear-dark), url(https://source.unsplash.com/6U4wogjLArk/1600x900/) no-repeat center center/cover;
    color:$base-f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__city,
    &_date{
        margin-bottom: 2rem;

        label{
            color:$base-f;
            font-family: $title-font;
            font-size:1.4rem;
            font-weight: 400;
            margin-bottom: .7rem;
        }
        input[type=text]{
            color:darken($base-f, 30%);
            font-family: 'Oswald', sans-serif;
        }
        input[type=date]{
            color:darken($base-f, 20%);
            font-family: 'Oswald', sans-serif;
        }

    }

    &__submit{
        margin-top:2rem;
        width:50%;
        background: $main-color;
        color:$base-f;
        // float: right;
    }
}

.clarify-city{
    padding:2rem 0;
    display: flex;
    flex-direction: column;
    

    &__btn{
        margin: .5rem 0;
        color:darken($base-f, 40);
        font-family: $regular-font;
        font-size:1.1rem;
        font-weight: 200;
        background-color: $light-contrast;
        width:90%;
        display:flex;
        flex-direction: column;
        align-items: center;

        &--top{
            color:lighten($base-f, 80);
            background-color: darken($dark-contrast, 5);
        }
    }
}