@import 'base';

@import 'form';

@import 'showcase';

@import 'get-info';

@import 'weather';

@import 'explore';

@import 'footer';

.main-container {


    margin-bottom: -25px;

    display: grid;

    grid-template-areas:
        "showcase"
        "getinfo"
        "weatherexplore"
        "footer";


    grid-template-columns: 100vw;

    grid-template-rows: 100vh 100vh auto 30vh;


}

@media screen and (min-width: 980px) {

    .main-container {
        display: grid;

        grid-template-areas:
            "getinfo showcase"
            "weatherexplore weatherexplore"
            "footer footer";

        grid-template-columns: 25vw 75vw;
        grid-template-rows: 100vh auto 20vh;

    }

    .showcase {
        &__btn {
            display: none;
        }
    }

    .get-info {

        &__form {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 20vw;
            height: 70vh;
            margin: 5rem auto;
        }

        .clarify-city {

            &__container {
                width: 20vw;
                height: 75vh;
                margin: 1rem auto;
            }

        }
    }

    .weather-explore {
        background: $light-contrast;

        &__title {
            height: 30vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: $light-contrast;

            h3 {
                font-family: $title-font;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                span {
                    writing-mode: horizontal-tb;
                    transform: rotate(360deg);

                }

                b {
                    width: 4em;
                    height: 0.15em;
                    background: black;
                    display: inline-block;
                    margin: auto;
                }
            }

            h2 {
                align-self: center;
                justify-self: start;

            }
        }
    }

    .weather {
        background: #fff;
        margin: 0 2rem 3rem 2rem;

        &__title {
            margin-left: 1rem;
            display: block;

            h3 {
                font-family: $title-font;
                font-size: 2.4rem;
                letter-spacing: 1.2rem;
                font-weight: 300;
                padding: 0.5rem 0;
                position: relative;
                z-index: 10;
            }

            h3::after {
                content: ' ';
                background: $dark-contrast;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 30px;
                width: 350px;
                z-index: -2;
            }
        }

        &__container {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0;
            margin: 0;

        }

        &-main {
            width: 50%;
            height: 100%;
            max-height: 50vh;
            color: #fff;
            text-shadow: 1px 1px $base-0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
        }

        .weather-forecast {
            width: auto;

            .forecast {

                &__content {
                    color: $base-0;
                    text-shadow: none;
                    border-bottom: 1px solid $base-0;
                    // font-size: 1rem;
                }
            }
        }
    }



    .explore {
        grid-template-columns: 10vw auto;
        margin-bottom: 2rem;

        &__title {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 2rem;
        }

        &__img {
            height: 100%;
        }
    }
}